{% extends "base.html" %}

{% block content %}

<p>
Select which friends are in the same city as you.  Then "Must Meet in Real Life" will
keep a list of meetings between you and these friends.  If you fail to meet with any
same-city-friend within three months, you will have to remove this friend.
</p>

<table>
<tr>
{% for friend in list %}
  {% if true %}
    </tr><tr>
  {% endif %}

  <td nowrap="true">
  {% ifequal friend.pic_square '' %}
    <img src="/images/50x50.png" onclick="pick({{forloop.counter0}});"/>
  {% else %}
    <img src="{{friend.pic_square}}" onclick="pick({{forloop.counter0}});"/>
  {% endifequal %}
  <br/>
  {{ friend.name }}<br/>
  <div id="d{{forloop.counter0}}" style="color: red; font-weight: bold;">&nbsp;</div>
  </td>
{% endfor %}
</tr>
</table>

<script type="text/javascript">
  function pick(id) {
    d = document.getElementById('d'+id);
    if (d.innerHTML == 'selected')
      d.innerHTML='&nbsp;';
    else
      d.innerHTML='selected';
  }
</script>

{% endblock %}
