{% extends "base.html" %}

{% block content %}

<p>
Select which friends are in the same city as you.  Then "Must Meet in Real Life" will
keep a list of meetings betwen you and these friends.  If you fail to meet with any
same-city-friend within three months, you will have to remove this friend.
</p>

<!--
<table>
<tr>
<% @list.each_with_index do |friend,i| %>
  <% if i % 3 == 0 %>
    </tr><tr>
  <% end %>
  <td nowrap="true">
  <% if friend.pic_square == '' %>
    <img src="/images/50x50.png" onclick="pick(<%=i%>);"/>
  <% else %>
    <img src="<%= friend.pic_square%>" onclick="pick(<%=i%>);"/>
  <% end %>
  <br/>
  <%= friend.name%><br/>
  <div id="d<%=i%>" style="color: red; font-weight: bold;">&nbsp;</div>
  </td>
<% end %>
</tr>
</table>
-->

<script type="text/javascript">
  function pick(id) {
    d = document.getElementById('d'+id);
    if (d.innerHTML == 'selected')
      d.innerHTML='&nbsp;';
    else
      d.innerHTML='selected';
  }
</script>

{% endblock %}
